name: CITest

on:
  pull_request:
    types: [opened, synchronize]
  pull_request_target:
    types: [labeled]
  push: { branches: [main] }

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

jobs:
  testAllModes:
    name: Test in ${{ matrix.testMode }} on version ${{ matrix.unityVersion }}
    runs-on: ubuntu-latest
    if: (github.event_name != 'pull_request_target' && !contains(github.event.pull_request.labels.*.name, 'run to test')) || contains(github.event.pull_request.labels.*.name, 'run to test')
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - CITest
        unityVersion:
          - 2019.4.40f1
          - 2020.3.37f1
          - 2021.3.8f1
        testMode:
          - editmode
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ${{ matrix.projectPath }}/Library
          key: Library-${{ matrix.projectPath }}
          restore-keys: |
            Library-
      - name: setup
        run: cp -rf "NuGetImporterForUnity/Packages/NuGet Importer" "CITest/Packages/NuGet Importer" && rm -rf "CITest/Packages/NuGet Importer/Tests" && rm -f "CITest/Packages/NuGet Importer/Tests.meta"
      - uses: webbertakken/unity-test-runner@v2.0.3
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        id: tests
        with:
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          testMode: ${{ matrix.testMode }}
          artifactsPath: ${{ matrix.testMode }}-artifacts
